//colours
$tweetBlue: #4056A1;
$bgBeige: #f4f1ec;
$offRed: rgb(213, 35, 35);
$shdwGrey: rgba(205, 198, 198, 0.818);
$navOrnge: #c04912;
$offBlack: rgba(29, 27, 27, 0.798);

//fonts
$bungee: 'Bungee', sans-serif;
$sansPro: 'Source Sans Pro', sans-serif;


@mixin flex-bullseye {
  display: flex;
  justify-content: center;
  align-items: center
}