@keyframes updown {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(25%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(60deg)
  }

  25% {
    transform: rotate(90deg)
  }

  50% {
    transform: rotate(120deg)
  }

  75% {
    transform: rotate(150deg)
  }

  100% {
    transform: rotate(180deg)
  }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 120px;
  width: 100vw;
  margin: 0;
  background-color: transparent;
  color: #FFFFFF;
  padding: 1em 1.5em 0 1.5em;
  z-index: 50;
}

nav .logo {
  font-family: 'Bungee', sans-serif;
  font-size: 1.75em;
}

.nav-el-bg {
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.259);
  border-radius: 5px;
  -webkit-animation: fadein 1s; 
}

nav .tweetlink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  transition: all .2s ease-in-out;
}

.tweetlink:hover {
  transform: scale(1.1);
}

nav p {
  font-size: 1em;
  margin: 0 auto;

}

nav i {
  color: #c04912;
  display: block;
  animation: updown 2s infinite;
  transition: all .2s ease-in-out;
}

nav .hovered {
  animation: spin 0.2s;
  transform: rotate(180deg)
}

nav p em {
  font-weight: bold;
  font-style: normal;
}
